name: LLVM-C API (Windows)

on:
  push:
    tags:
      - 'LLVM-C-API-WINDOWS-v*.*.*'

jobs:
    windowsBuild:
        name: Build LLVM (Windows)
        runs-on: windows-2022

        permissions:
          contents: write

        env:
            BUILD_PROJECT: llvm
            BUILD_MASTER: false
            LLVM_VERSION: 17.0.6
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        strategy:
            fail-fast: false
            matrix:
                CRT:
                -  libcmt

                TARGET_CPU:
                -  amd64

                CONFIGURATION:
                -  Release

        steps:
        -   name: Checkout repo
            uses: actions/checkout@v3

        -   name: Generating Unique Identification
            shell: cmd
            run: call %GITHUB_WORKSPACE%\windows\generate-build-id.bat

        -   name: Installing LLVM Toolchain
            shell: cmd
            run: |
                call %GITHUB_WORKSPACE%\targets\x86_64-pc-windows-libcmt\set-env.bat msvc17 ${{matrix.CRT}} ${{matrix.TARGET_CPU}} ${{matrix.CONFIGURATION}}
                call %GITHUB_WORKSPACE%\windows\install.bat

        -   name: Build LLVM Toolchain
            id: BUILD
            shell: cmd
            run: |
                call %GITHUB_WORKSPACE%\targets\x86_64-pc-windows-libcmt\set-env.bat msvc17 ${{matrix.CRT}} ${{matrix.TARGET_CPU}} ${{matrix.CONFIGURATION}}
                call %GITHUB_WORKSPACE%\targets\x86_64-pc-windows-libcmt\build.bat

        -  name: Releasing LLVM Toolchain
           uses: softprops/action-gh-release@v2
           with:
              tag_name: ${{ env.BUILD_ID }}
              name: "LLVM Toolchain (Windows)"
              body: |
                ## LLVM C API

                LLVM C API (v17.0.6) libraries for Windows x86_64 environments.

              files: ${{steps.BUILD.outputs.DEPLOY_FILE}}
              draft: false
