name: llvm-x86_64-unknown-linux-musl

on:
  push:
    tags:
      - 'llvm-x86_64-unknown-linux-musl-v*.*.*'

jobs:
  build-llvm:
    runs-on: ubuntu-latest
  
    container:
      image: messense/rust-musl-cross:x86_64-musl

    permissions:
      contents: write
  
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
  
    steps:
      - name: Generating Unique ID
        run: |
          BASE_NAME=$(echo "$GITHUB_REF" | sed 's|^refs/tags/||')
          BUILD_ID="${BASE_NAME}-$GITHUB_RUN_ID" 
          
          echo "BUILD_ID=$BUILD_ID" >> $GITHUB_ENV
          echo "BUILD_ID=$TAG_NAME" >> $GITHUB_ENV

          echo "Unique ID: $BUILD_ID"
          echo "Base name: $TAG_NAME"
    
      - name: Installing dependencies
        run: |
          sudo apt-get install -y build-essential cmake ninja python3 wget

      - name: Downloading LLVM project
        run: |
          wget https://github.com/llvm/llvm-project/releases/download/llvmorg-17.0.6/llvm-project-17.0.6.src.tar.xz

      - name: Unpacking LLVM project 
        run: |
          tar -xf llvm-project-17.0.6.src.tar.xz
          mv llvm-project-17.0.6.src llvm-project

      - name: Preparing for build (LLVM-C API)
        run: |
          mkdir build
          mkdir dist
          cd build
        working-directory: llvm-project/llvm

      - name: Configuring CMake (LLVM C API)
        run: |
          cmake ../CMakeLists.txt -G Ninja \
          -DCMAKE_BUILD_TYPE=MinSizeRel \
          -DCMAKE_C_COMPILER=musl-gcc \
          -DCMAKE_CXX_COMPILER=musl-g++ \
          -DLLD_INCLUDE_TOOLS=ON \
          -DLLVM_ENABLE_PROJECTS="llvm;lld" \
          -DLLVM_ENABLE_TERMINFO=OFF \
          -DLLVM_ENABLE_ZLIB=OFF \
          -DCMAKE_DISABLE_FIND_PACKAGE_LibXml2=TRUE \
          -DLLVM_ENABLE_LIBXML2=0 \
          -DCMAKE_INSTALL_PREFIX="../dist" \
          -DLLVM_TARGETS_TO_BUILD=X86 \
          -DLLVM_BUILD_TESTS=OFF \
          -DLLVM_BUILD_EXAMPLES=OFF \
          -DLLVM_INCLUDE_TESTS=OFF \
          -DLLVM_INCLUDE_EXAMPLES=OFF \
          -DLLVM_INCLUDE_DOCS=OFF
        
        working-directory: llvm-project/llvm/build

      - name: Building LLVM C API
        run: |
          ninja -j$(nproc)
        working-directory: llvm-project/llvm/build

      - name: Installing LLVM C API
        run: |
          ninja install
        working-directory: llvm-project/llvm/build

      - name: Cleaning LLVM Binaries
        run: |
          find llvm-project/llvm/dist/bin -type f -executable ! -name "llvm-config" -delete

      - name: Cloning LLVM C API
        shell: bash
        run: |
          mkdir -p tempDir/{lib,bin,include}
          
          cp -r llvm-project/llvm/dist/lib/* tempDir/lib/
          cp -r llvm-project/llvm/dist/bin/* tempDir/bin/
          cp -r llvm-project/llvm/dist/include/* tempDir/include/

      - name: Packaging LLVM (LLVM Libraries, Binaries & Includes)
        run: |
          tar --format=pax -cJf llvm-x86_64-unknown-linux-musl.tar.xz --exclude='*/*.cmake' --exclude='*/*.o' --exclude='*/*.d' lib bin include
        working-directory: tempDir

      - name: Releasing LLVM
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.BUILD_ID }}
          name: "llvm-x86_64-unknown-linux-musl"
          body: |
            ## llvm-x86_64-unknown-linux-musl
           
            LLVM libraries for llvm-x86_64-unknown-linux-musl for Thrush compiler compilation.
            
          files: |
            tempDir/llvm-x86_64-unknown-linux-musl.tar.xz
          draft: false